
/* Body styling */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-image: url('https://miro.medium.com/v2/resize:fit:2000/1*EGs8B7HJc1iKZRssyJonVg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
}

/* Main container */
.main {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 100px;
    border: 2px solid #2f493048;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 500px;
    text-align: center;
}

/* Heading */
h1 {
    color: #ff2600bd;
    text-align: center;
    text-shadow: #191b19;
    font-size: 60px; /* Adjusted size */
}

h4 {
    color: white;
}

/* Form label */
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #ff2600bd;
    font-weight: bold;
}

/* Input and select fields */
input, select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Button styling */
button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #191b19;
    width: 400px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff2600bd;
}

/* Wrap container for logo */
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adds spacing between logo and form */
}

/* Logo styling */
.logo {
    max-width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: -20px; /* Moves the logo up slightly */
}
