*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* Home page */

.content{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-image: url('https://3.bp.blogspot.com/-K9yehUWJxNg/WIcfuTcBBFI/AAAAAAAAUFw/MohoA40FFtUKg_5C_oQEyx65QfKR2XtIwCLcB/s1600/Cedrick%2Bat%2BHome%2Bwith%2BBowl.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

nav {
    width: 100%;
    position:relative;
    backdrop-filter: blur(10px);
    background: rgb(228, 214, 187); /* Set the background color here */
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .logo{
    width: 60px;
    height: 57px;
    margin-left: 8%;
  
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.navbar {
    display: flex;
    margin-right: 4vh;
    padding: 15px;
}

.navbar a {
    color: rgb(242, 2, 2);
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 4px;
    font-weight: 500;
    text-decoration: none;
    transition: ease 0.40s;
}

/* Hover effect */
.navbar a:hover {
    color: rgb(228, 214, 187);
    background: rgb(0, 0, 0);
    box-shadow: 5px 10px 30px rgba(85, 85, 85, 0.2);
    border-radius: 5px;
}

/* Active page link style */
.navbar a.active {
    font-size: 20px;
    color:rgb(0, 0, 0);
    background: rgb(228, 214, 187);
    border-bottom: 3px solid #000000; /* Define the black bottom border */
    box-shadow: 5px 10px 30px rgba(85, 85, 85, 0.2);
    border-radius: 5px 5px 0 0; /* Keep top corners rounded, bottom corners square */
}


    

nav ul li a{
    text-decoration: none;
    color:  rgb(243, 130, 24);
    font-size: 17px;
}



.title{
    text-decoration: none;
    /* display: inline-block; */
    font-size: 4vh;
    color: rgb(243, 130, 24);
    padding: 14px 17px;
    margin-top: 32vh;
    text-align: center;
    vertical-align: center;
}

.title h1{
    font-size: 10vh;
    text-shadow: 2px black;
    transition: ease 0.3s;
    box-shadow: rgb(228, 214, 187);
}

.title h1:hover{
    color:transparent;
    -webkit-text-stroke: 1px  rgb(243, 130, 24);
    
}

.button {
    display: inline-block;
    margin-top: 5vh;
    font-size: 25px;
    padding: 10px 30px;
    color: rgb(228, 214, 187);
    background-color: rgb(2, 134, 242);
    border-radius: 20px;
    text-decoration: none;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Donate Button */
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
    background-size: 300% 300%;
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(2, 134, 242, 0.8), 0 0 60px rgba(2, 134, 242, 0.6);
}

.button:hover::before {
    animation: rotateGradient 2s infinite linear;
    opacity: 1;
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




.reqbutton {
    display: inline-block;
    margin-top: 5vh;
    font-size: 25px;
    padding: 10px 30px;
    color: rgb(228, 214, 187);
    background-color: rgb(242, 2, 2); /* Red background */
    border-radius: 20px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
}

.reqbutton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 165, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(75, 0, 130), rgb(238, 130, 238));
    background-size: 400% 400%;
    z-index: -1;
    filter: blur(15px);
    opacity: 0;
    border-radius: 20px;
    transition: opacity 0.3s ease;
}

.reqbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px rgba(242, 2, 2, 0.8), 0 0 80px rgba(242, 2, 2, 0.6);
}

.reqbutton:hover::before {
    opacity: 1;
    animation: rotateReqGradient 3s infinite linear;
}

@keyframes rotateReqGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.text h2{
    font-size: 40px;
    font-weight: 650;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 2;
    text-align: center;
}

.rowitems{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px ;
    margin-right: 30px;
    margin-bottom:10px ;
}

.container-box{
    border-radius: 5px;
    padding: 50px 10px;
    transition: all 0.7s ease 0s;
}


.container-box h4{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}
.container-box h4 span{
    color: rgb(242, 2, 2);
    font-weight:600;
}
.container-box img{
    width: auto;
    height: 400px;
    padding: 20px;
}


.container-box:hover{
    transform: translateY(2px);
    box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
    border: 1px solid transparent;
    border-radius: 0px;
}



.fwm-title{
    text-align: center;
    color: #FF6347;
}

.fwm-title h2{
    font-size: 40px;
    font-weight: 650;
    padding-top: 75px;
    padding-bottom: 10px;
    line-height: 2;
}

.fwm-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image{
    position: relative;
    transition: all 0.3s cubic-bezier(0.445,0.05,0.55,0.95);
    cursor: pointer;
    filter: brightness(95%);
}

.image img{
    width: 100%;
    height: 500px;
    border-radius: 30px;
}

.image h3{
    color: white;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    top: 10px;
    right: 20px;
}

.dest-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 50px;
}

.location h4{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 2px;
}

.pac-details li{
    font-size: 19px;
    color: #4c4c4c;
    margin-left: 15px;
    margin-bottom: 2px;
    list-style-type: disc;
}

.image:hover{
    filter: brightness(120%);
    transform: scale(1.03);
}





/* Newsletter */

.newsletter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.newstext h2{
    margin-top: 100px;
    font-size: 38px;
}

.newstext p{
    font-size: 20px;
    color: #4c4c4c;
}

.newsletter form{
    margin-top: 100px;
    width: 100%;
    position: relative;
}

.newsletter form input:first-child{
    display: inline-block;
    /* width: 300px; */
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 20px 150px 20px 30px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}

.newsletter form input:last-child{
    display: inline-block;
    position: absolute;
    outline: none;
    border: 2px solid transparent;
    border-radius: 20px;
    color: white;
    background-color: rgb(242, 2, 2);
    padding: 14px 30px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 450;
    top: 6px;
    right: 6px;
    transition: ease 0.30s;
}

.newsletter form input:last-child:hover{
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    color: rgb(242, 2, 2);
}


/* Footer */

.footer{
    margin-top: 80px;
    background-color: rgb(228, 214, 187);
    width: 100%;
    position: relative;

}

.foot{
    padding: 20px 0;
    width: 100%;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footlinks h4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(177, 12, 12);
    margin-bottom: 30px;
    position: relative;
}


.footlinks h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 70px;
    left: 0;
    bottom: -7px;
    background: rgb(53, 52, 52);
}

.footlinks ul li{
    margin-bottom: 15px;
}

.footlinks ul li a{
    font-size: 17px;
    color: rgb(110, 6, 6);
    display: block;
    transition: ease 0.30s;
}

.footlinks ul li a:hover{
    transform: translate(6px);
    color: white;
}

.social a{
    font-size: 25px;
    margin: 4px;
    height: 40px;
    width: 40px;
    color: rgb(0, 0, 0);
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease 0.30s;
}

.social a:hover{
    transform: scale(1.2);
}

.end{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
}

.end p{
    font-size: 15px;
    color: rgb(75, 1, 1);
    letter-spacing: 1px;
    font-weight: 300;
}

/* About Us */

.aboutbody{
    background-color: #ffffff;
}

.about{
    width: 100%;
    padding: 78px 0px;
}

.about img{
    height: auto;
    width: 400px;
}

.abt-text{
    width: 1000px;
}

.abt-text h1{
    font-size: 70px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.abt-text h1 span{
    color: rgb(242, 2, 2);
    letter-spacing: 1px;
}

.abt-text p{
    color: rgb(44, 43, 43);
    font-size: 24px;
    margin-bottom: 45px;
    line-height: 30px;
    letter-spacing: 1px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



/* ABOUT US CONNECT US BUTTON */
.connectbtn{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 2, 2);
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: ease 0.4s;
    border: 2px solid transparent;
    letter-spacing: 1px;
}

.connectbtn:hover{
    background-color: transparent;
    border: 2px solid #000000;
    transform: scale(1.1);
    color:#000000;
}

.connect-section{
    margin-top: 26px;
}


/* Styling for the Avatar Section */
.creators {
    text-align: center;
    margin-top: 50px;
}

.creators h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Avatar Container to align images horizontally */
.avatar-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Individual Avatar Style */
.avatar {
    position: relative;
    display: inline-block;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #000000;
}

/* Hover Effect on Avatars */
.avatar:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.avatar p {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

/* Optional: Add some padding to the parent section */
.main {
    max-width: 1200px;
    margin: 0 auto;
}



/* ABOUT US SOCIAL ICONS */
.social-icons a{
    height: 40px;
    width: 40px;
    margin: 4px;
    font-size: 30px;
    color: #101010;
    background-color: white;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.30s;
}

.social-icons a:hover{
    transform: scale(1.2);
}

/* Contact Us */

.contactbody{
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contact{
    padding: 110px 30%;
    height: 100%;
    min-height: 100vh;
}

.contact-form h1{
    font-size: 80px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.contact-form h1 span{
    color:rgb(242, 2, 2);
}

.contact-form p{
    color: rgb(65, 62, 62);
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 23px;
    margin-bottom: 20px;
}


.contact-form form input,form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background-color: #191919;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    border-radius: 10px;
}

.contact-form form .submit-btn{
    display: inline-block;
    background-color: rgb(242, 2, 2);
    font-size: 27px;
    font-weight: 600px;
    border: 2px solid transparent;
    border-radius: 40px;
    width: 220px;
    cursor: pointer;
    transition: ease 0.30s;

}

.contact-form form .submit-btn:hover{
    border: 2px solid #080808;
    background-color: transparent;
    transform: scale(1.1);
    color:#000000;

}

/* Donation Register Form */

.register-body{
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;

}

.registration{
    padding: 110px 30%;
    height: 100%;
    min-height: 100vh;
}

.register-form h1{
    font-size: 80px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.register-form h1 span{
    color: rgb(2, 134, 242);
}

.register-form h5 span{
    color: rgb(2, 134, 242);
}

.register-form{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.register-form form input{
    color: rgb(0, 0, 0);
    padding: 17px;
    background-color: #ffffff;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.register-form textarea{
    background-color:  #ffffff;
    color: rgb(0, 0, 0);
}
.register-form h4{
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    color: rgb(242, 2, 2);
   
}


.register-form form .submitbtn {
    display: inline-block;
    margin-top: 5vh;
    font-size: 25px;
    padding: 20px 40px;
    color: rgb(228, 214, 187);
    background-color: rgb(2, 134, 242);
    border-radius: 20px;
    text-decoration: none;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.register-form form .submitbtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
    background-size: 300% 300%;
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.register-form form .submitbtn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(2, 134, 242, 0.8), 0 0 60px rgba(2, 134, 242, 0.6);
}

.register-form form .submitbtn:hover::before {
    opacity: 1;
    animation: rotateReqGradient 3s infinite linear;
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Request Register Form */

.request-body{
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;

}

.request{
    padding: 110px 30%;
    height: 100%;
    min-height: 100vh;
}

.request-form h1{
    font-size: 80px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.request-form h1 span{
    color: rgb(242, 2, 2);
}

.request-form h5 span{
    color: rgb(242, 2, 2);
}

.request-form{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.request-form form input{
    color: rgb(0, 0, 0);
    padding: 17px;
    background-color: #ffffff;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.request-form textarea{
    background-color:  #ffffff;
    color: rgb(0, 0, 0);
}

.request-form h4{
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    color: rgb(242, 2, 2);
   
}


.request-form form .submitbutton {
    display: inline-block;
    margin-top: 5vh;
    font-size: 25px;
    padding: 20px 40px;
    color: rgb(228, 214, 187);
    background-color: rgb(242, 2, 2); /* Red background */
    border-radius: 20px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
}

.request-form form .submitbutton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 165, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(75, 0, 130), rgb(238, 130, 238));
    background-size: 400% 400%;
    z-index: -1;
    filter: blur(15px);
    opacity: 0;
    border-radius: 20px;
    transition: opacity 0.3s ease;
}

.request-form form .submitbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px rgba(242, 2, 2, 0.8), 0 0 80px rgba(242, 2, 2, 0.6);
}

.request-form form .submitbutton:hover::before {
    opacity: 1;
    animation: rotateReqGradient 3s infinite linear;
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Hovering cards homepage */
.philosophies {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.philosophy-card {
    border-top: 4px solid;
    background-color: #ffffff;
    padding: 0.8em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 600px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.philosophy-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.philosophy-card h2 {
    color: #333;
    margin-top: 0.5em;
    font-size: 1.2em;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.image-container img {
    transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
}

.image-container img:hover {
    transform: scale(1.05); /* Increases the size to 110% */
}

button {
    padding: 0.5em 1em;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Welcome Section */
.welcome-section {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #333;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.intro-text {
    flex: 1;
    max-width: 600px;
    animation: fadeIn 2s ease-out;
}

.welcometitle {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1em;
    color: #FF6347; /* Tomato color for emphasis */
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: slideInFromLeft 1.5s ease-out;
}

.subtitle {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.cta-button {
    padding: 15px 25px;
    background-color: #32CD32; /* Lime Green */
    color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.cta-button:hover {
    background-color: #28a745; /* Darker green on hover */
    transform: scale(1.05);
}

.intro-image {
    flex: 1;
    max-width: 600px;
    padding-left: 20px;
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
}

.intro-image img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
    animation: zoomIn 2s ease-out forwards;
}

/* Keyframe Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}


/* website features explanation */
section {
    margin: 2em 0;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 8px;
    color: #FF6347;
}
.what-we-do-section {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.text {
    color: #FF6347;
}

.section-header {
    margin-bottom: 40px;
}

.section-header h2 {
    font-size: 2.5rem;
    color: #FF6347; /* Tomato color */
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.feature-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.feature-card h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.feature-card p {
    font-size: 1.1rem;
    color: #777;
    line-height: 1.6;
}

.icon-container1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:  rgb(2, 134, 242); /* Tomato background for icons */
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon-container2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(242, 2, 2); /* Tomato background for icons */
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon-container3 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffd901; /* Tomato background for icons */
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* General Section Styling */
.fwm {
    padding: 2rem;
    background-color: #f4f4f4;
}

/* Title Styling */
.fwm-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.fwm-title h2 {
    font-size: 2rem;
    font-weight: bold;
}

/* Carousel Container */
.carousel-container, .carousel-solutions {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
}

.carousel-item {
    background-color: rgb(228, 214, 187);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px; /* Fixed width */
    flex-shrink: 0; /* Prevents shrinking of individual items */
    transition: transform 0.3s ease;
}

.carousel-item:hover {
    transform: translateY(-5px); /* Slightly lifts the item on hover */
}

.carousel-item h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.carousel-item p {
    font-size: 1rem;
    color: #555;
}

/* Video Styling */
iframe {
    margin-top: 2rem;
    border: none;
    border-radius: 8px;
}

/* Add scrollbar styles if needed */
.carousel-container::-webkit-scrollbar {
    height: 8px;
}

.carousel-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.carousel-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.cta-button{
    background-color: #000000;
}
